services:
  controller:
    build:
      context: .
      dockerfile: Dockerfile
      target: controller
    command: ["-c", "/etc/grid/config.yaml"]
    configs:
    - source: grid
      target: /etc/grid/config.yaml
    hostname: controller
    ports:
    - "4222:4222"
    - "8222:8222"
    - "8765:8765"
    restart: always

  worker:
    build:
      context: .
      target: worker
    command: ["-c", "/etc/grid/config.yaml"]
    configs:
    - source: grid
      target: /etc/grid/config.yaml
    deploy:
      replicas: 2
    depends_on:
    - controller
    restart: always

configs:
  grid:
    content: |
      api:
        enabled: true
        host: 0.0.0.0
        port: 8765
      nats:
        client:
          urls: ["nats://controller:4222"]
        server:
          host: 0.0.0.0
          port: 4222
      worker:
        groups: ["default"]
